:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --primary-color: #0099ff;
    --light-gray-color: #f0f0f0;
    --medium-gray-color: #e0e0e0;
    --dark-gray-color: #cccccc;
    --dark-icon-color: #555555;
    --font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family), sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 2rem;
}

.app-container {
    width: 100%;
    max-width: 400px;
    padding: 0 1rem;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guessed-words-container {
    width: 100%;
    border: 1px solid var(--dark-gray-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

#guessed-words-container summary {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    list-style: none; /* Remove default marker */
}

#guessed-words-container summary:after {
    margin-left: auto;
    content: 'expand_more';
    font-family: 'Material Icons', sans-serif;
    transition: transform 0.3s ease;
}

#guessed-words-container[open] summary:after {
    transform: rotate(180deg);
}

ul#guessed-words-list {
    margin-top: 1rem;
    padding-left: 0;
    list-style: none; /* Remove default marker */
    column-count: 2;
    column-gap: 1rem;

    li {
        padding: 0.4rem 0.25rem 0.0rem 0.25rem;
        border-bottom: 1px solid var(--medium-gray-color);

        &.pangram {
            color: var(--primary-color);
        }
    }
}

#score-container {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-block-end: 3rem;
}

.letter-grid {
    --key-gap: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--key-gap);

    .row {
        display: flex;
        gap: var(--key-gap);
    }
}

.letter-key {
    touch-action: manipulation;
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--light-gray-color);
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
}

.letter-key.center-key {
    background-color: var(--primary-color);
    color: white;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    touch-action: manipulation;
}

.action-btn {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--light-gray-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn .material-icons {
    font-size: 1.8rem;
    color: var(--dark-icon-color);
}

.action-btn.primary {
    background-color: var(--primary-color);
}

.action-btn.primary .material-icons {
    color: white;
}

/* Styles for setup page */
#setup-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid var(--dark-gray-color);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

#letters-input {
    text-transform: uppercase;
    letter-spacing: 0.2rem
}

#letters-input::placeholder {
    text-transform: none;
}

#words-input {
    resize: vertical;
    min-height: 9.375rem;
    text-align: left;
}

#word-input {
    font-weight: bold;
}

.correct-word {
    color: #22cc33;
}
.already-guessed-word {
    color: #fac327;
}

.incorrect-word {
    color: red;
}

.field-description {
    font-size: 0.9rem;
    color: var(--dark-icon-color);
    margin: 0;
    text-align: center;
}

.submit-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#stats-output {
    display: none;
    border: 2px solid var(--text-color);
    padding: 0.5rem;
    width: 50%;
    border-radius: 0.5rem;
    user-select: all;
}