:root {
    --white: oklch(100% 0 0);
    --blackish: oklch(17.764% 0.00002 271.152);
    
    --color-success: oklch(73.678% 0.2305 143.747);
    --color-warning: oklch(84.36% 0.16437 86.765);
    --color-danger: oklch(62.793% 0.25768 29.223);
    --color-primary: oklch(66.906% 0.18376 248.826);
    --color-secondary: oklch(95.514% 0.00011 271.152);
    --color-control: oklch(84.522% 0.0001 271.152);
    --background-color-control: var(--white);
    --color-action: oklch(44.953% 0.00005 271.152);

    --medium-gray-color: #e0e0e0;
    --font-family: 'Helvetica Neue', Arial, sans-serif;
    --background-color: var(--white);
    --text-color: oklch(32.109% 0.00004 271.152);

    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--white);
        --color-secondary: oklch(95.514% 0.00011 271.152);
        --text-color: oklch(32.109% 0.00004 271.152);
        --color-action: oklch(44.953% 0.00005 271.152);
        --background-color-control: var(--white);
    }
}

.light body {
    --background-color: var(--white);
    --color-secondary: oklch(95.514% 0.00011 271.152);
    --text-color: oklch(32.109% 0.00004 271.152);
    --color-action: oklch(44.953% 0.00005 271.152);
    --background-color-control: var(--white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--blackish);
        --color-secondary: oklch(34.07% 0.00004 271.152);
        --text-color: var(--white);
        --color-action: var(--white);
        --background-color-control: var(--blackish);
    }
}

.dark body {
    --background-color: var(--blackish);
    --color-secondary: oklch(34.07% 0.00004 271.152);
    --text-color: var(--white);
    --color-action: var(--white);
    --background-color-control: var(--blackish);
}

.icon {
    font-family: 'Material Icons';
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    margin: 0;
    font-family: var(--font-family), sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 2rem;
}

p {
    margin-block-start: 1.25rem;
    margin-block-end: 1.25rem;
}

.app-container {
    width: 100%;
    max-width: 400px;
    padding: 0 1rem;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guessed-words-container {
    width: 100%;
    border: 1px solid var(--color-control);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

#guessed-words-container summary {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    list-style: none; /* Remove default marker */
}

#guessed-words-container summary:after {
    margin-left: auto;
    content: 'expand_more';
    font-family: 'Material Icons';
    transition: transform 0.3s ease;
}

#guessed-words-container[open] summary:after {
    transform: rotate(180deg);
}

ul#guessed-words-list {
    margin-top: 1rem;
    padding-left: 0;
    list-style: none; /* Remove default marker */
    column-count: 2;
    column-gap: 1rem;

    li {
        padding: 0.4rem 0.25rem 0.0rem 0.25rem;
        border-bottom: 1px solid var(--medium-gray-color);

        &.pangram {
            color: var(--color-primary);
        }
    }
}

#score-container {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-block-end: 3rem;
}

.letter-grid {
    --key-gap: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--key-gap);

    .row {
        display: flex;
        gap: var(--key-gap);
    }
}

.letter-key {
    touch-action: manipulation;
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--color-secondary);
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
}

.letter-key.center-key {
    background-color: var(--color-primary);
    color: var(--white);
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    touch-action: manipulation;
}

.action-btn {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn .material-icons {
    font-size: 1.8rem;
    color: var(--color-action);
}

.action-btn.primary {
    background-color: var(--color-primary);
}

.action-btn.primary .material-icons {
    color: var(--white);
}

/* Styles for setup page */
#setup-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid var(--color-control);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

#letters-input {
    text-transform: uppercase;
    letter-spacing: 0.2rem
}

#letters-input::placeholder {
    text-transform: none;
}

#words-input {
    resize: vertical;
    min-height: 9.375rem;
    text-align: left;
}

#word-input {
    font-weight: bold;
}

.correct-word {
    color: var(--color-success);
}
.already-guessed-word {
    color: var(--color-warning);
}

.incorrect-word {
    color: var(--color-danger);
}

.field-description {
    font-size: 0.9rem;
    color: var(--color-action-button);
    margin: 0;
    text-align: center;
}

.submit-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
}

#stats-output {
    display: none;
    border: 2px solid var(--text-color);
    padding: 0.5rem;
    width: 50%;
    border-radius: 0.5rem;
    user-select: all;
}

.select {
    > div {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    select {
        grid-column-start: 1;
        grid-row-start: 1;
        width: 100%;
        appearance: none;
        border-radius: 0.375rem;
        background-color: var(--background-color-control);
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        padding-left: 0.75rem;
        padding-right: 2rem;
        font-size: 1rem;
        color: var(--text-color);
        outline: 1px solid var(--color-control);
        outline-offset: -1px;
    }

    select:focus-visible {
        outline-width: 2px;
        outline-offset: -2px;
        outline-color: var(--color-primary);
    }

    .icon {
        pointer-events: none;
        grid-column-start: 1;
        grid-row-start: 1;
        margin-right: 0.5rem;
        font-size: 1.25rem;
        align-self: center;
        justify-self: end;
        color: var(--text-color);
    }

    @media (min-width: 640px) {
        select {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        .icon {
            font-size: 1rem;
        }
    }
}
